<div class="form-group">
    <label for="title">Title</label>
    <input required  value="<%=article.title %>" type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group">
    <label for="wisdom">Wisdom</label>
   
    <textarea required name="wisdom" id="wisdom" class="form-control"><%=article.wisdom %></textarea>
</div>

<div class="form-group">
    <label for="title">Weight</label>
    <input required  value="<%=article.weight %>" type="text" name="weight" id="weight" class="form-control">
</div>

<div class="form-group">
    <label for="title">Exercise</label>
    <input required  value="<%=article.exercise %>" type="text" name="exercise" id="exercise" class="form-control">
</div>

<div class="form-group">
    <label for="title">Stomach</label>
    <input required  value="<%=article.stomach %>" type="text" name="stomach" id="stomach" class="form-control">
</div>


<div class="form-group">
    <label for="title">Breakfast</label>
    <input required  value="<%=article.breakfast %>" type="text" name="breakfast" id="breakfast" class="form-control">
</div>


<div class="form-group">
    <label for="title">Lunch</label>
    <input required  value="<%=article.lunch %>" type="text" name="lunch" id="lunch" class="form-control">
</div>


<div class="form-group">
    <label for="title">Dinner</label>
    <input required  value="<%=article.dinner %>" type="text" name="dinner" id="dinner" class="form-control">
</div>


<div class="form-group">
    <label for="title">Snack</label>
    <input required  value="<%=article.snacks %>" type="text" name="snacks" id="snacks" class="form-control">
</div>


<div class="form-group">
    <label for="title">Fruit</label>
    <input required  value="<%=article.fruit %>" type="text" name="fruit" id="fruit" class="form-control">
</div>


<div class="form-group">
    <label for="title">Drinks</label>
    <input required  value="<%=article.drinks %>" type="text" name="drinks" id="drinks" class="form-control">
</div>


<div class="form-group">
    <label for="title">Booze</label>
    <input required  value="<%=article.booze %>" type="text" name="booze" id="booze" class="form-control">
</div>



<div class="form-group">
    <label for="markdown">Markdown</label>
   
    <textarea name="markdown" id="markdown" class="form-control"><%=article.markdown %></textarea>
</div>
<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>